body {
  background-color: #9fddea;
}

#clouds {
		  position:absolute;
		  width:100%;
		  height: 8225px;
		  background: transparent url(images/clouds.png) 0 0px repeat-x;
			top:0px;left:0px;
			z-index:1;

}
